<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch> 


	<node
		pkg="husky_slam_simulation"
		type="husky_slam_simulation_node"
		name="husky_slam_simulation"
	/>

	<node
		pkg="cartographer_ros"
		type="cartographer_occupancy_grid_node"
		name="cartographer_map"
	/>
	
	<node
		pkg="cartographer_ros"
		type="cartographer_node"
		name="cartographer"
		args="-configuration_directory $(find husky_slam_simulation)/resources/ -configuration_basename husky_test2.lua"
	/>
	

	<node
		pkg="rviz"
		type="rviz"
		name="rviz"
		args="-d $(find husky_slam_simulation)/resources/google_cart.rviz"
	/>
	    
    <node
        ns="stereo"
        pkg="stereo_image_proc"
        type="stereo_image_proc"
        name="stereo_image_proc"
    />
    

	<include file="$(find husky_gazebo)/launch/husky_playpen_kinect.launch"/>

</launch>
